h1 {
  color: #3D0814;
	font-family: courier, monospace;
	text-align: center;
}

h2 {
	font-family: courier, monospace;
	text-align: center;
}

body {
	background-color: #357266;
}

#canvas {
	/* width: 70rem;
	height: 30rem; */
}

#game-holder {
	text-align: center;
}